div.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 50px;
    color: red;
    font-size: 50px;
    /* border: 5px solid blue;
    border: 10px dotted yellow;
    outline: 10px dotted blue;
    outline: 10px dashed blue;
    outline-offset: 10px; 
    border-top: 10px solid #49f7dd;
    border-bottom: 10px solid rgb(148, 75, 216); */
    /* border-radius: 300px; */
    /* border-radius: 0px 200px 400px; */
    /* box-shadow: 2px 4px 6px black; */
    /* box-shadow: inset 2px 4px 6px black; */

    /* box-shadow: inset 5px 5px 6px black , 2px 4px 6px black , 15px 15px 6px blue; */

    /* box-shadow: inset 5px 5px 6px black, 2px 4px 6px black, 15px 15px 6px blue; */

    /* box-shadow: 2px 4px 6px black; */
    text-shadow: 2px 2px 0px black;
}

/* img {
    width: 400px;
    height: 400px;
    object-fit: fill;
    object-position: center;
    box-shadow: 2px 4px 6px black;

} */

.img {
    width: 400px;
    height: 400px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/3/32/Ranveer_Singh_in_2023_%281%29_%28cropped%29.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    background-size: cover;
    background-position: top;
}

.box {

    background-color: red;
}