.box {
    --w: 300px;
    width: calc(var(--w)*2);
    height: var(--w);
    background: url(./successful-team-cheerful-young-p.jpg);
    background-size: contain;
    font-size: 50px;
    color: red;
    /* filter: blur(5px); */

    .fr {
        /* background: black; */
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(183, 0, 255, 0.129);
        text-align: center;
    }


}