* {
    padding: 0;
    margin: 0;
}

.sec {
    background-color: red;
    height: 100vh;
    background: url(./successful-team-cheerful-young-p.jpg);
    background-size: contain;
    background-position: center;
}