label:nth-child(1) {
    /* background-color: red; */
    width: 120px;
    display: inline-block;
}

.MyForm div {
    margin-bottom: 10px;
    display: inline-flexs;
    align-items: center;
    gap: 5px;
}

.MyForm {
    background: linear-gradient(to top, pink, skyblue);
    padding: 5px;
    outline: 2px dashed;
    width: 500px;
    margin: auto;
}

.MyForm .address {
    display: flex;
}

.MyForm .mybtn {
    width: max-content;
    margin: auto;
}